<div layout="row" flex layout-align="center center">
    <div class="md-whiteframe-z4" flex-sm="100" flex-md="50" flex-gt-md="35">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Login</h2>
            </div>
        </md-toolbar>
        <md-content layout-padding layout="column">
            <div layout="column" layout-align="center center" layout-padding>
                <img src="images/user-profile.png" />
                You need a Google account to use this application
            </div>
            <div layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" ng-click="login()" aria-label="Login">
                    <md-icon md-svg-icon="GLogo"></md-icon>
                    Sign in with Google
                </md-button>
            </div>
        </md-content>
    </div>
</div>