<div layout="row" flex>
    <div class="left-column" flex="66">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <span>My events</span>
            </div>
        </md-toolbar>
        <eventlist></eventlist>
    </div>

    <div class="right-column" flex="33">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <span>My friends</span>
            </div>
        </md-toolbar>
        <friendlist></friendlist>
    </div>
</div>