<md-dialog flex layout-padding>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Adding a new friend</h2>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" flex>
        <form name="friendForm" layout="column" flex novalidate>
            <md-input-container flex>
                <label>Name</label>
                <input type="text" ng-model="newFriend.name" required/>
            </md-input-container>
            <md-input-container flex>
                <label>Email</label>
                <input type="email" ng-model="newFriend.email" required/>
            </md-input-container>
        </form>
        <small><md-icon md-svg-icon="action:ic_info_24px"></md-icon>
            Your friends will be automatically linked to any user sharing the same email
            <ul>
                <li>If the user already exists, the link will be done right now</li>
                <li>Otherwise, the users needs to login at least once with its Google account</li>
            </ul>
        </small>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="closeDialog()">Cancel</md-button>
        <md-button ng-click="validateAndSaveFriend()" ng-disabled="friendForm.$invalid" class="md-primary">Add Friend</md-button>
    </md-dialog-actions>
</md-dialog>