.search-title {
    margin: 0;
}

.events-list {
    margin-top: 0;
    padding-top: 0;
}

.events-title {
    margin-bottom: 0;
    padding-bottom: 0;
}

span.pagination-counts {
    font-size: 0.8em;
    font-style: italic;
}