<div>
    <md-card ng-show="totalEventsCount.count > 0">
        <md-card-title class="events-title">
            <md-card-title-text layout="row">
                <md-input-container md-no-float flex class="search-title">
                    <md-icon md-svg-icon="action:ic_search_24px" class="name"></md-icon>
                    <input type="Search" ng-model="eventsearch" placeholder="Search events...">
                </md-input-container>
                <span flex="20"></span>
                <md-input-container md-no-float flex="15" class="search-title">
                    <md-checkbox ng-model="ignoreCompleted">
                        Show completed
                    </md-checkbox>
                </md-input-container>
            </md-card-title-text>
        </md-card-title>
    </md-card>

    <div layout="row" layout-wrap>
        <md-card ng-repeat="event in myevents" class="event-card" ng-class="event.completed? 'completed' : ''">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead">{{event.date | date : 'dd/MM/yyyy'}}</span>
                    <span class="md-headline">{{event.name}}</span>
                    <span class="md-subhead" ng-if="event.completed">This event is <i>completed</i></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content ng-if="event.expenses.length > 0">
                <md-list>
                    <md-list-item class="md-2-line" ng-click="null" ng-repeat="expense in event.expenses">
                        <div class="md-list-item-text" layout="column">
                            <div layout="row">
                                <h3><strong>{{expense.name}}</strong> : {{expense.amount}} €</h3>
                            </div>
                            <md-chips class="event-chips" ng-model="expense.friends" readonly="true">
                                <md-chip-template>{{$chip.name}}</md-chip-template>
                            </md-chips>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
            <md-card-footer layout="row">
                <div flex layout="row" layout-align="start center">
                    <div><strong>Total : </strong> {{ getTotalAmount(event) | currency:"€ ":2 }} </div>
                </div>
                <div flex layout="row" layout-align="end center">
                    <md-button class="md-icon-button" ng-click="markEventCompleted($event, event._id)" ng-hide="event.completed">
                        <md-tooltip md-direction="top">
                            Complete event
                        </md-tooltip>
                        <md-icon md-svg-icon="action:ic_check_circle_24px"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="showExpenseModal(event._id)" ng-hide="event.completed">
                        <md-tooltip md-direction="top">
                            Add expense
                        </md-tooltip>
                        <md-icon md-svg-icon="content:ic_add_circle_24px"></md-icon>
                    </md-button>
                </div>
            </md-card-footer>
        </md-card>
    </div>

    <md-card ng-if="totalEventsCount.count > 0">
        <md-card-actions layout="row" layout-align="end center">
            <span class="pagination-counts">
                {{matchingEventsCount.count}} /
                <ng-pluralize count="totalEventsCount.count"
                              when="{'0': '0 event','one': '1 event','other': '{} events'}"></ng-pluralize>
            </span>
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="showEventModal()">
                <md-icon md-svg-icon="file:ic_create_new_folder_24px"></md-icon>
                Add Event
            </md-button>
        </md-card-actions>
    </md-card>

    <md-card ng-if="totalEventsCount.count == 0" layout-align="center center">
        <p>You should start by adding some friends, and then create your first event !</p>
        <md-card-actions layout="column">
            <md-button class="md-raised md-primary" ng-click="showEventModal()">
                <md-icon md-svg-icon="file:ic_create_new_folder_24px"></md-icon>
                Add Event
            </md-button>
        </md-card-actions>
    </md-card>
</div>